# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.sqlite3
*.pyc
*.pyo

# Visual Studio Code settings
.vscode/

# Virtual environment
venv/

# Database
db.sqlite3

# Static files
static/

# Media files
media/

# Log files
*.log
